.module-article{
	@extend %shadow;
	@include rem(font-size, 2rem);
	margin-bottom: 45px;
	background: #fff image-url('bg4.jpg') 100% 0 no-repeat;
	background-size: 100%;
	color: #474747;
 	line-height: 1.5;

	.inner{
		padding: 8% 10% 5%;
		background:  image-url('bg5.jpg') 100% 100% no-repeat;
		background-size: 100%;		
	}

	h2{
		color: #2d3288;
		font-weight: normal;
		font-family: $font-leto;
	}

	h3{
		@include rem(font-size, 3rem);
		color: #2d3288;
		font-weight: normal;
		font-family: $font-leto;
		 		
	}
}




.slides-navigation{
	margin: 0 -5% 7rem;
	position: relative;
 	height: 32px;

	@include breakpoint($max: $xsm){
		height: 24px;
	};



	.line{
		@include translate(0, -48%, 0);
		@include transition(width .2s ease);
		content: '';
		position: absolute;
		width: 0px;
		height: 6px;
		background: #82acf0;
		top: 50%;
		margin: 0;
		padding: 0;
		left: 0;
	}

	&:before{
		@include translate(0, -50%, 0);
		display: block;
		content: '';
		width: 100%;
		height: 6px;
		background: #e5e5e5;
		position: absolute;
		left: 0;
		top: 50%;
		 
	}

}
 
.nav-pagination{
	padding: 0;
	list-style-type: none;
	position: relative;
	text-align: justify;
 	line-height: 0;

	li{
		@include user-select(none);
		display: inline-block;
		vertical-align: top;
		position: relative;
		z-index: 2;
		top: 2px;

		&:last-child{
			margin-right: -3px;
		}

		&:first-child{
			margin-left: -3px;
		}

		span{
			@include transition(all .4s ease);
			display: block;
			width: 28px;
			height: 28px;
			position: relative;
			text-align: center;
			line-height: 29px;
			color: #959595;
			background: #e5e5e5;
			border-radius: 100%;
			cursor: pointer;
			font-size: 1.5rem;

			@include breakpoint($max: $xsm){
				 width: 20px;
				 height: 20px;
				 line-height: 21px;
				 font-size: 1.3rem;
			};

		}

		&.current, &:hover{
			span{
				color: #fff;
				background: #82acf0;
			}
		}

	}

	&:after{
		display: inline-block;
		content: '';
		width: 100%;
		line-height: 0;
		height: 0;
	}
}


.nav-buttons{

	margin: 0 0 37px;

	.arr-btn{
		margin: 0 23px 20px;
		min-width: 273px;
		padding: 0;
		display: inline-block;
		vertical-align: top;
		border: 2px solid #2d3288;
		color: #2d3288;
		text-transform: uppercase;
		font-size: 1.5rem;
		border-radius: 30px;
		cursor: pointer;

		& > span{
			position: relative;
			display: block;
			padding: 17px;	
			border-radius: 30px;

			&:before{
				display: block;
				content: '';
				position: absolute;
				top: 50%;
				margin-top: -6px;
			}			
		}
 

		&.btn-prev{
			

			& > span{
				position: relative;
				padding: 17px 17px 17px 39px;

				&:before{
					@extend .sp-arr-sm-left;
					left: 65px;
				}			
			}

		}	

		&.btn-next{
			

			& > span{
				position: relative;
				padding: 17px 39px 17px 17px;

				&:before{
					@extend .sp-arr-sm-right;
					right: 65px;
				}			
			}

		}



		@include breakpoint($max: $sm) {
			margin: 0 5px 20px;
			font-size: 2rem;
			min-width: 200px;

			&.btn-prev{
				span{
					&:before{
						left: 20px;
					}
				}
			}			

			&.btn-next{
				span{
					&:before{
						right: 20px;
					}
				}
			}

		};		

		@include breakpoint($max: 480px) {
			margin: 0 2px 20px;
			min-width: 70px;
			font-size: 1.5rem;

			span{
				span{
					position: relative;
					top: 1px;
				}
			}
		};		

		@include breakpoint($max: 360px) {
			margin: 0 10px 20px;
			min-width: 0;
			font-size: 1.5rem;

			span{
				span{
					display: none;
				}
			}


			&.btn-prev{
				span{
					&:before{
						left: 22px;
					}
				}
			}			

			&.btn-next{
				span{
					&:before{
						right: 22px;
					}
				}
			}

		};

	}
}



.numered-wrapper{
	padding: 5%;
	margin: 10rem -5% 25px;
	box-shadow: 0 3px 12px rgba(#000, .15);
	background: #fff;
	border-radius: 3px;
}