.baners-slider{
	@include rem(margin-bottom, 1.7rem); 
	 

	.slide{
		position: relative;

		.baner-data{
			@include rem(font-size, 2.4rem);
			@include rem(padding-right, 3rem);
			position: absolute;
			left: 6.7%;
			top: 8.5%;
			color: #fff;
			line-height: 1.22;

			h2{
				@include rem(margin-top, 8.6rem);
				@include rem(margin-bottom, 5.8rem);
			
				@include breakpoint($max:1447px){
					
					@include rem(font-size, 3rem);
					@include rem(margin-top, 5.6rem);
					@include rem(margin-bottom, 3.8rem);

				};



			}
			
		}
	}

	.owl-nav{
		position: static;

		.owl-prev, .owl-next{
			@include transition(opacity 0.2s ease);
			position: absolute;
			top: 37.5%;
			cursor: pointer;
			text-indent: -9999px;

			@include breakpoint($max: $xl) {
				 display: none !important;
			};


			&:hover{
				opacity: .8;
			}
		}

		.owl-prev{
			@extend .sp-arrow-big-left;
			left: -118px;
		}		

		.owl-next{
			@extend .sp-arrow-big-right;
			right: -118px;
		}
	}

	.owl-dots{
		position: relative;
		text-align: center;
		padding: 2.9rem 0;

		.owl-dot{
			@include transition(all .2s ease);
			display: inline-block;
			width: 13px;
			height: 13px;
			background: #d2242a;
			border-radius: 100%;
			cursor: pointer;
			margin: 0 .9rem;

			&.active{
				background: #a2d0f7;
				box-shadow: 0 0 10px rgba(#fff, .8);
			}
		}
	}
}