.btn{
	@include rem(border-radius, 5rem);
	@include transition(all .2s ease);
	@include rem(font-size, 1.95rem);
	@include rem(padding, 3rem, 13.7rem);	
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-decoration: none;
	border: none;
	background: none;
	overflow: visible;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: bold;
	color: #fff;
 
	&.btn-red{
	
		letter-spacing: 1.3px;
		background: $red;

		&:hover{
			background: darken($red, 10);
		}
	}

	&.btn-blue{
		@include rem(padding, 2.7rem, 10rem);
		@include rem(font-size, 2rem);	
		letter-spacing: 1px;
		background: $blue;

		&:hover{
			background: darken($blue, 10);
		}

	}

	&.rounded-btn{
		@include rem(font-size, 1.6rem);
		@include rem(padding, 2.6rem, 4.2rem);
		border: 4px solid #ed1c24;
		color: #ed1c24;
		letter-spacing: 2px;

		&:hover{
			color: #fff;
			background: #ed1c24;
		}

		&.color-red{
			background: #ed1c24;
			color: #fff;
			
			&:hover{
				color: #ed1c24;
				background: none;
			}

		}		

		&.color-white{
 			color: #fff;
 			border-color: #fff;
			
			&:hover{
				color: #271A62;
				background: none;
				border-color: #271A62;
			}

		}
	}
}