
@font-face {
  font-family: 'LetoSlab';
  src: font-url('LetoSlab.eot?#iefix') format('embedded-opentype'),  font-url('LetoSlab.woff') format('woff'), font-url('LetoSlab.ttf')  format('truetype'), font-url('LetoSlab.svg#LetoSlab') format('svg');
  font-weight: normal;
  font-style: normal;
}
