.global{
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

body{
	//background: #7c98c6 image-url('bg-bottom.jpg') center 100% no-repeat;

	&.have-fixed{
		padding-top: 60px;
	}
}

.global{
	background: #7c98c6 image-url('bg.jpg') center 0 repeat-x;	

	@include breakpoint($max: $md) {
		background: #647db5 image-url('mobile-bg.jpg') center 0 no-repeat;
	};
}

.baner{
	@include rem(margin-bottom, 3.3rem);
	@extend  %shadow;	
}

.container{
	position: relative;
	z-index: 10;
}


%shadow{
	box-shadow: 0 0 20px rgba(#000, .2);
}

.v-baner{
	@include rem(margin, 0, 0, 5.4rem);
	@extend %shadow;
	position: relative;
	background:  image-url('v-baner.jpg') center 0 no-repeat;
	background-size: cover;
	padding: 5.55% 2% 4.7% 8%;

	.t{
		@include rem(font-size, 4.7rem);
		letter-spacing: .5px;
		margin: 0;
		color: #d20009;
		font-family: $font-leto;

	}

	p{
		@include rem(font-size, 3.2rem);
		color: #584326;
		font-style: italic;
		margin:1px 0 0 5px;
	}

	.btn{
		margin: 10px 0 0 15px;
			
		@include breakpoint($max:$sm) {
			margin-top: 30px;
			margin-left: 0;
		};	

	}
}

.google, .tunec{
	display: inline-block;
	vertical-align: top;

	@include transition(all .2s ease);

	&:hover{
		opacity: .8;
	}
}

.google{
	width: image-width('g.png') / 1.3;
	height: image-height('g.png') / 1.3;
	background:  image-url('g.png') 0 0 no-repeat;
	background-size: cover;
}
.tunec{
	width: image-width('tunec.png') / 1.3;
	height: image-height('tunec.png') / 1.3;
	background:  image-url('tunec.png') 0 0 no-repeat;
	background-size: cover;
}

#api-footer{
	position: relative;
	z-index: 2;
}


.share{

	a{
		display: inline-block;
		vertical-align: top;
		margin-bottom: 12px;
		@include transition(all .2s ease);

		&:hover{
			opacity: .8;
		}

		&.fb{
			@extend .sp-fb;
		}		
		&.pin{
			@extend .sp-pin;
		}		
		&.tw{
			@extend .sp-tw;
		}		

		&.odn{
			@extend .sp-odn;
		}
	}
}

.inline{
	display: inline-block;
}