.header{
	@include rem(padding, 12rem, 0 , 0,0);
}

.main-nav{
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 30;
	text-align: left;
	padding:0;
	background: #d31b1e image-url('header.png') center 100% no-repeat;
	border-bottom: 1px solid #f21a19;
	box-shadow: 0 1px 0 rgba(#636684, .3), 0 2px 0 rgba(#000, .1);

	&.fixed{
		position: fixed;
	}
	
	ul{
		
	
		margin: 0;
		padding: 0;
		letter-spacing: normal;
		padding:15px  0 15px 0;
		@include rem(font-size, 1.7rem);


		li{
			
			display: inline-block;
			vertical-align: top;
			font-weight: bold;
			margin: 0 0 0 1%;

			&:first-child{
				margin-left: 0;
			}

			&.active{
				a{
					background: #A90407;
					text-decoration: none;
				}
			}

		}

		a{
			color: #fff;
			text-decoration: none;
			display: block;
			padding: 9px 18px;
			border-radius: 6px;
			@include transition(all .2s ease);

			@include breakpoint($max:$md) {
				padding: 9px 12px;
			};

			&:hover{
					background: #A90407;
					text-decoration: none;
			}
		}
	}
}
