.items-type-2{
	background: #fff;
	padding: 5%;
	border-radius: 30px;
	margin-bottom: 45px;

	h2{
		color: #2a2a2a;

			@include breakpoint($max:$lg) {
				margin-top: 20px;
				@include rem(font-size, 3.5rem);
			};


	}

	.thumb{
		border-radius: 20px;
		overflow: hidden;
		box-shadow: 0 0 10px rgba(#000, .4);
		margin-bottom: 10px;

		img{
			width: 100%;
		}
	}

	.t{
		color: #1a1145;
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 10px;
		margin-right: 10px;
	}

	.d-links{

		.link{
			margin-bottom: 5px;
		}

		a{
			color: #0072ff;
			text-decoration: underline;
			display: inline-block;
			vertical-align: top;
			font-size: 12px;
			white-space: nowrap;

			&:after{
				display: inline-block;
				vertical-align: top;
				content: '';
				position: relative;
				right: -6px;
			}
		}

		.apple{
			&:after{
				@extend .sp-apple;
			}
		}			

		.android{
			&:after{
				@extend .sp-droid;
			}
		}

	}


	&.four{
		.item{
			display: inline-block;
			vertical-align: top;
			width: 21%;
			margin-left: 4%;

			&:first-child{
				margin-left: 0;
			}

			@include breakpoint($max:860px) {
				width: 47.6%;
				margin-bottom: 45px;

				&:nth-child(2n+1){
					margin-left: 0;
				}
			};
		}
	}	

	&.five-in-row{
		.item{
			display: inline-block;
			vertical-align: top;
			width: 16.5%;
			margin-left: 4%;
			margin-bottom: 45px;


			&:nth-child(5n+1){
				margin-left: 0;
			}

			&:first-child{
				margin-left: 0;
			}

			@include breakpoint($max: $lg) {
				width: 21.5%;
				margin-bottom: 35px;

				&:nth-child(5n+1){
					margin-left: 4%;
				}


				&:nth-child(4n+1){
					margin-left: 0;
				}
			};			


			@include breakpoint($max:860px) {
				width: 47.6%;
				margin-bottom: 35px;

				&:nth-child(2n+1){
					margin-left: 0;
				}
			};
		}
	}
}