.locked{
	overflow: hidden;
}

.md-overlay{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10001;
	display: none;
	background: rgba(#0454a0, .5);
}

.modal{
	position: fixed;
 	@include transition(opacity .5s ease);
	@include transform(translate(-50%, 0));
	visibility: hidden;
	opacity: 0;
	z-index: 10002;
	left: 50%;
	top: 0;
	overflow: hidden;
	padding: 100px 0;
	max-height:100%;
	width: 800px;
	 	@include breakpoint($max:$md) {
	 		width: 80%;

	 	};
	.bg-m{
		background: #fff;
		
		border-radius:3px;
		box-shadow:0 1px 2px rgba(#000, .5);
	 	color: #000;	
	 	position: relative;
	 	height: 0;


	}

	&.show{
		visibility: visible;
		opacity: 1;

		~ .md-overlay{
			display: block;
		}

		.content, .bg-m{
			height: 100%;
		}
	}

	.title{
		position: relative;
	}


	.content{
		height:0;
		padding: 70px 20px 50px 50px;
	}


	.close{
		position: absolute;
		right: 20px;
		top: 20px;
		z-index: 2;

		&:before{
			display: block;
			content: "X";
			color: #ccc;
			font-size: 22px;
			cursor: pointer;
			@include transition(opacity .5s ease);


			&:hover{
 				opacity: .8;
			}
		}
	}

 

	h1{
		font-weight: bold;
 		margin: 0 0 10px;
		color: #222;
		text-shadow:none;
		font-size: 25px;
	}

	h2{
		margin: 0 0 20px;
		color: #222;
		font-family: $font-leto;
		text-shadow:none;
		font-size: 18px;
	}

	p{
		margin: 0 0 18px;
	}

	.ctx{
		font-size: 13px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		line-height: 1.2;

		h1{
			font-size: 20px;
		}
	}


	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		background: #d31b1e !important;

		&:hover{
			background: lighten(#d31b1e, 10) !important;
		}
	}

}