.iframe{
 
}


.module-test-section{
	
	margin: -10px 0 39px 0;

	.module-title{
		color: #fff;
		font-family: $font-leto;
		@include rem(font-size, 4.8rem);
		@include rem(margin-bottom, 2.2rem);
	}

	.test-header{
		position: relative;
		text-align: center;
		padding: 2.9% 4% 1.2%;
		background-size: cover !important;

		.t-link{
			@include transition(background .2s ease, border-color .2s ease);
			position: relative;
			display: inline-block;
			vertical-align: top;
			color: #fff;
			text-decoration: none;
			@include rem(font-size, 2.5rem);
			line-height: 1.4;
			background: #0080af;
			border-radius: 60px;
			@include rem(padding, 2.1rem, 6rem, 2rem);
			max-width: 518px;
			min-width: 320px;
			text-align: center;
			border: 2px solid #0080af;
			font-weight: bold;
			margin: 0 20px 20px;
			box-shadow: 0 10px 0 #006497;
			@include user-select(none);
			cursor: pointer;

			&:hover{
				background: #006497;
				border-color: #006497;
			}			

			&:active{
				box-shadow: none;
				top: 10px;
			}

			span{
				display: inline-block;
				text-align: left;
				@include user-select(none);
			}
 
			&.color-2{
				border-color: #e87a83;
				background: #e87a83;
				box-shadow: 0 10px 0 #df5e67;

				&:hover{
					background: #df5e67;
					border-color: #df5e67;
				}

				&:active{
					box-shadow: none;
				}
			}

			&.active{
				background: #e3c8cc;
				border-color: #d4afb4;
				box-shadow: none;
				@include rem(padding-bottom, 3rem);
				position: static;
			}
		}
	}


	.test-body{
		background:  image-url('test-bg.jpg') 0 0 no-repeat;
		background-size: cover;
 		padding: 5%;

 		&.result-body{
 			background: #ebedec;
 		}
	}

	.inner{
		width: 90%;
		margin: 0 auto;
	}


	.result-title{
		color: #cb2027;
		font-family: $font-leto;
		@include rem(font-size, 4rem);
		@include rem(margin-bottom, 2rem);

		span{
			font-weight: 300;
			color: #3c5a60;
			@include rem(font-size, 3.5rem);
		}		
	}

	.result-test-image{
		margin-bottom: 45px;
	}

	.result-data{
		@include rem(font-size, 2.5rem);
		color: #000;

		p{
			margin: 0 0 2em;
			line-height: 1.5;
		}

		@include breakpoint($max:$md) {
				text-align: left;


				.share{
					a{
						display: block;
					}
				}
		};
	}

	.return-btn{
		@include transition(all .2s ease);
		display: inline-block;
		border: 2px solid #55acee;
		color: #55acee;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		padding: 17px 40px;
		border-radius: 30px;
		text-decoration: none;

		&:hover{
			background: #cb2027;
			color: #fff;
			border-color: #cb2027;
		}
	}

}

 
.game-baner-2{

	.right-50{
		width: 50%;
		float: right;
	}

	.data{

		.l{
			position: relative;
			right: auto;
			bottom: auto;
			left: auto;
			top: auto;
			margin: 10% 0 0 10%;
		}		

			@include breakpoint($max:$md) {
				 .title{
				 	font-size: 3rem;
				 }
			};	
			
			@include breakpoint($max:$sm) {
				 .title{
				 	font-size: 2rem;

				 }

				 	.btn{
				 		padding: 1.7rem 6rem;
				 	}

			};	

	}

}