.module-valentines{
	 

	.module-title{
		font-weight: bold;
		color: #fff;
		font-family: $font-leto;
		text-shadow:0 0 10px rgba(#000, .3);
		@include rem(font-size, 3.8rem);
		@include rem(margin-bottom, 2.2rem);
	}

	.module-body{
		background: #fdeed6 image-url('v-bg.jpg') 0 0 no-repeat;
		background-size: cover;
		padding: 5% 9% 3%;

		@include breakpoint($max:$md){
			padding: 5% 5% 3%;
		};

	}
}


.card-slider{
	position: relative;
	margin-bottom: 40px;

	.owl-prev, .owl-next{
		display: block;
		text-indent: -9999px;
		position: absolute;
		top: 40%;
		margin-top: -43px;
		cursor: pointer;
		@include transition(all .2s ease);

		&:hover{
			opacity: .8;
		}

		@include breakpoint($max:$md){
			opacity: 0;
			visibility: hidden;
		};
	}

	.owl-prev{
		@extend .sp-arrow-left;
		left: -8%;
	}	

	.owl-next{
		@extend .sp-arrow-right;
		right: -8%;
	}

	.owl-dots{
		text-align: center;
		padding: 40px 0;

		.owl-dot{
			display: inline-block;
			vertical-align: top;
			width: 20%;
			margin: 0 2%;
			position: relative;
			cursor: pointer;
			

 
			.dot-text{
				color: #16094c;
				font-size: 14px;
				text-transform: uppercase;
				position: relative;
				font-weight: bold;
				@include transition(all .2s ease);

				@include breakpoint($max: $md) {
					font-size: 12px;
				};

				&:before{
					display: block;
					content: '';
					width: 19px;
					height: 19px;
					border-radius: 100%;
					background: #018cb7;
					margin: 0 auto 20px;
					@include transition(all .2s ease);
				}

				&.dot-2{
					&:before{
						background: #0289ba;
					}
				}				
				&.dot-3{
					&:before{
						background: #df0081;
					}
				}				
				&.dot-4{
					&:before{
						background: #ff7ac7;
					}
				}
			}


			&.active, &:hover{

				.dot-text{

					color: #D31B1E;

					&:before{
						background: #D31B1E;
					}
				}
				
			}


		}
	}
}

.card-share{

	@include breakpoint($max:$lg) {
		text-align: center;
	};


	.title{
		color: #4c66a4;
		font-weight: bold;
		font-family: $font-leto;
		@include rem(font-size, 3rem);
		@include rem(margin-bottom, 2rem);		
	}

	.share {

		margin: 10px -100px 0 -94px;

		a{
			margin: 0 1px 7px;
 			
		}

		@include breakpoint($max:$lg) {
			margin: 20px 0 0;
		};
		
	}
}



.promo-rules{
	background:  image-url('bg3.jpg') 0 0 no-repeat;
	background-size: cover;
	color: #fff;
	margin-bottom: 40px;
	padding: 4% 6% 4% 6%;

	.t{
		font-family: $font-leto;
		@include rem(font-size, 4.5rem);
		@include rem(margin-bottom, 4rem);
 	}

	p{
		@include rem(font-size, 2.3rem);
		font-weight: bold;
		margin: 0 0 20px;
		line-height: 1.5;
	}
}