.scene{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	max-width: 100%;
	overflow: hidden;


	@include breakpoint($max: $md) {
		display: none !important;
	};



	.layer{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&.scene-2{
		.layer{
			 margin-top: 60%;
		}

	}

}