.custom-sm-5{

	@include breakpoint($min: $sm){
		width: 46.2%;
	};
}

.custom-sm-7{

	@include breakpoint($min: $sm){
		width: 53.8%;
		padding-left: 25px;
	};
}

.promo-test-block, .game-baner, .download-block , .card, .advice{
	@include rem(margin-bottom, 5rem);
	position: relative;

	img{
		width: 100%;
	}

	.data{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		.btn{
			position: absolute;
			bottom: 20px;
			left: 20px;
		}
	}

}

.advice, .card{
	background: #fff;

	a{
		@include transition(opacity .2s ease);
		display: block;

		&:hover{
			opacity: .8;
		}
	}
}

.advice{
	@include rem(margin-bottom, 3.9rem);
	@extend  %shadow;	

	.title{
		@include rem(font-size,  1.9rem);
		padding-right: 5%;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		position: absolute;
		left: 11.2%;
		top: 20.4%;
		letter-spacing: 1.7px;
		line-height: 1.7;
	

		@include breakpoint($max:$lg) {
			font-size: 4.3rem;
		};		

		@include breakpoint($max:520px) {
			font-size: 3.3rem;
		};

	}
}

.download-block{

	@include rem(margin-bottom, 5.3rem);

	.image{
		position: relative;
		margin-bottom: 16px;
		@extend  %shadow;	
	}

	.title{
		@include rem(font-size, 1.9rem);
		text-transform: uppercase;
 		font-weight: bold;
		letter-spacing: 1.65px;
		color: #1c1f21;
 

		@include breakpoint($max:$lg) {
			font-size: 2rem;
		};			

		@include breakpoint($max:$sm) {
			font-size: 3rem;
		};		


	}

	.dwn-links{
		position: absolute;
		bottom: 8.5%;
		left: 6%;

		a{
			display: inline-block;
			vertical-align: top;
			margin: 0 5px 0 0;
		}
	}
}
.promo-test-block{
	@extend  %shadow;	
	@include rem(margin-bottom, 4.3rem);

	.data{

		.title{
			@include rem(font-size, 3.2rem);
			padding: 6% 5% 0 9%;
			color: #fff;
			font-weight: bold;


			@include breakpoint($max:$lg) {
				font-size: 2rem;
			};			

			@include breakpoint($max:$sm) {
				font-size: 4rem;
			};
		}

		.btn{
			bottom: 15%;
			left: 7.5%;

			@include breakpoint($min:$sm, $max:$lg) {
				@include rem(padding, 2.5rem, 10.7rem);
				font-size: 1.25rem;
			};

		}
	}
}


.game-baner{
	@extend  %shadow;
	.data{
		.title{
			@include rem(font-size, 3.2rem);
			padding: 7.3% 10% 0 10%;
			color: #0454a0;
			font-weight: bold;

			@include breakpoint($min:$sm, $max:$lg) {
				font-size: 2.5rem;
			};			

			@include breakpoint($max:$sm) {
				font-size: 4rem;
			};
		}

		.btn{
			position: static;
		}

		.links{
			margin: 11px 0 0 0;
		}

		.l{
			position: absolute;
			bottom: 8.9%;
			left: auto;
			right: 8%;
			@include breakpoint($min:$sm, $max:$lg) {
				@include rem(padding, 2.5rem, 10.7rem);
				font-size: 1.25rem;
			};

		}		
	}

}
 

.section-title{
	@include rem(font-size, 4rem);
	color: #fff;
	font-weight: bold;
	margin: 0 0 24px;
}


 

.rounded-items{

	font-size: 0;
	margin: 0 0 26px -2.5%;

	.rounded-item{
	 	display: inline-block;
	 	vertical-align: top;
 
		border-radius: 35px;
		overflow: hidden;
		margin-bottom: 39px;
		@extend %shadow;
	}


	&.items-5{
		.rounded-item{
			width: 17.5%;
			margin-left: 2.5%;
 			font-size: 2rem;
 
			@include breakpoint($max:$md) {
				width: 30.5%;
			};				

			@include breakpoint($max:$sm) {
				width: 47.5%;
			};	


		}			
	}	

 

	.image{

		overflow: hidden;
		position: relative;
		border-radius:35px 35px 0 0;

		img{
			width: 100%;
		}
	}

	.title{
		padding: 14px 10px;
		text-align: center;
		font-family: $font-leto;
		font-size: 15.5px;
		min-height: 58px;
		background: #fff;
		min-height: 66px;
		border-radius:0 0 35px 35px;		
	}	

	.dwn-links{
		background:  image-url('gr.png') 0 100%  repeat-x;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}

	&.items-4{
		.rounded-item{
			width: 22.5%;
			margin-left: 2.5%;
 			font-size: 2rem;
 
			@include breakpoint($max:$sm) {
				width: 47.5%;
			};	


		}			
	}

 	.links{
 		text-align: center;
 		position: absolute;
 		bottom: 13px;
 		width: 100%;

 		a{
 			margin: 2px 2px 0;
 		}
 	}

}

.games{
	
	@include rem(margin, 0, 0 ,4.3rem);

	.section-title{
 		margin-bottom: 41px;
	}

	.title{
		min-height: 71px;
		font-size: 19.51px;
		text-align: left;
		font-family: $font;
		font-weight: bold;
		padding: 19px 10px 19px 37px;
	}

	.dwn-links{
		background: none;
	}
} 


 
.articles{
	@include rem(margin-bottom, 6rem);
	.section-title{
		margin-bottom: 35px;
	}

}