html.page{
	font-size: 50.5%;

	@include breakpoint($max: $md) {
		font-size: 42.5%;
	};	

	@include breakpoint($max: $sm) {
		font-size: 32.5%;
	};
}

body{
	font-family: $font;
	color: #091e36;
	line-height: 1.2;
	@include rem(font-size, 1.5rem);
}

h1{
	@include rem(font-size, 5.4rem);
	@include rem(margin-bottom, 2.3rem);
	font-weight: normal;
	color: #fff;
	margin-top: 0;
	font-family: $font-leto;
	letter-spacing: -.2px;
	text-shadow: 0 0 30px #2768a3;
}
h2{
	@include rem(font-size, 4rem);
	@include rem(margin-bottom, 5rem);
	margin-top: 0;
	font-weight: bold;
	color: #fff;
 
}


.numered{
 	padding: 0;
 	position: relative;
	counter-reset: section;  
	list-style-type: none;

	.li{
		position: relative;
 		@include rem(padding, 0 ,0, 0, 12rem);
 
		&:before{
 			@include rem(font-size, 5.4rem);
 			@include rem(width, 9rem);
 			@include rem(height, 9rem);
 			@include rem(line-height, 9rem);			
 			@include rem(top, -2rem);			
			counter-increment: section;              
			content: counter(section); 
			position: absolute;
			left: 0;
 			color: #fff;
 			background: #82acf0;
 			text-align: center;
 			border-radius: 100%;
		}
	}
}