.v-block-title{
	color: #fff;
	font-family: $font-leto;
	@include rem(font-size, 4rem);
	@include rem(margin-bottom, 3rem);
}

.video-block{
	@include rem(margin-bottom, 2.7rem);
	@extend  %shadow;	
	background: #dde6f4 image-url('bg2.jpg') center 0 no-repeat;
	background-size: cover;
	padding: 3.2% 5.9%;

	.video-frame{
		background: #ccc;
		height: 0;
		position: relative;
		padding-bottom: 56.25%;

		object{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	.title-1{
		color: #091e36;
		font-weight: bold;
		font-size: 2.54rem;
		height: 0;
		padding-bottom: 56.25%;
		margin-bottom: 21px;

		position: relative;

		span{
			position: absolute;
			left: 0;
			top: 0;
		}

		@include breakpoint($max:$sm) {
			padding: 0;
			margin: 10px 0 30px;

			span{
				position: relative;
			}
		};	

	}

	.video-frame-bottom{
		position: relative;
	
		.title-2{
			font-weight: bold;
			font-size: 1.3rem;
			text-align: right;
			position: absolute;
			top: -22px;
			width: 100%;

			span{
				font-weight: normal;
			}

			@include breakpoint($max:$sm) {
				font-size: 2.54rem;
				position: relative;
				top: auto;
				margin: 20px 0 10px;
			};	

		}

	}

}


.right-video-block{
	@extend %shadow;
	@include rem(margin-bottom, 6rem);
	background: #e2ecf2 image-url('rvim.png') 100% 100% no-repeat;
	position: relative;
	padding: 3.2% 5.9% 4.4% 6.8%;

	.video-frame{
		background: #ccc;
		height: 0;
		position: relative;
		padding-bottom: 56.25%;

		object{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

	}

	.title{
		@include rem(font-size, 3.2rem);
		line-height: 1.25;
		color: #253980;
		font-weight: bold;
		margin-bottom: 2rem;
	}
}
 