
%shadow{
	box-shadow: 0 0 20px rgba(#000, .2);
} 

// Mixins
@import "compass";

@import "mixins";

@import "fonts";

@import "vars";

@import "utils";
@import "sprites";
@import "bootstrap";


.share{

	a{
		display: inline-block;
		vertical-align: top;
		margin-bottom: 12px;
		@include transition(all .2s ease);

		&:hover{
			opacity: .8;
		}

		&.fb{
			@extend .sp-fb;
		}		
		&.pin{
			@extend .sp-pin;
		}		
		&.tw{
			@extend .sp-tw;
		}		

		&.odn{
			@extend .sp-odn;
		}
	}
}



/*!
 * Bootstrap v3.3.2 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=9b1525f0ce27fdb92dbc)
 * Config saved to config.json and https://gist.github.com/9b1525f0ce27fdb92dbc
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}











 

html{
	font-size: 50.5%;

	@include breakpoint($max: $md) {
		font-size: 42.5%;
	};	

	@include breakpoint($max: $sm) {
		font-size: 32.5%;
	};
}

body{
	font-family: $font;
	color: #091e36;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	@include rem(font-size, 1.5rem);
}

h1{
	@include rem(font-size, 5.4rem);
	@include rem(margin-bottom, 2.3rem);
	font-weight: normal;
	color: #fff;
	margin-top: 0;
	font-family: $font-leto;
	letter-spacing: -.2px;
	text-shadow: 0 0 30px #2768a3;
}
h2{
	@include rem(font-size, 4rem);
	@include rem(margin-bottom, 5rem);
	margin-top: 0;
	font-weight: bold;
	color: #fff;
 
}
 

	.test-body{
		background:  image-url('test-bg.jpg') 0 0 no-repeat;
		background-size: cover;
 		padding: 5%;

 		&.result-body{
 			background: #ebedec;
 		}
	}

	.inner{
		width: 90%;
		margin: 0 auto;
	}

	.test-title{
		position: relative;
		padding: 15px 0 22px 90px;
		color: #0085a1;
		font-family: $font-leto;
		@include rem(font-size, 4rem);
		@include rem(margin-bottom, 2rem);

		.num{
			position: absolute;
			left: 0;
			top: 0;
			color: #fff;
			background: #d6252b;
			width: 75px;
			height: 75px;
			text-align: center;
			line-height: 73px;
			border-radius: 100%;
		}
	}

	.test-image{
		margin-bottom: 25px;
	}

	.qws{
		
		font-size: 0;
		margin-bottom: 60px;
		
		.item{
			display: inline-block;
			vertical-align: top;
			width: 25%;
			padding-left: 25px;
			font-size: 2rem;
			position: relative;

			&:first-child{
				padding-left: 0;
			}


			input{
				opacity: 0;
				visibility: hidden;
				position: absolute;

				&:checked{
					+ label{
						background: #F7E9F6;
					}
				}
			}

			label{
				@include transition(background .2s ease);
				display: block;
				background: #fff;
				@extend %shadow;
				color: #000;
				font-size: 16px;
				padding: 30px 25px 50px 30px;
				cursor: pointer;
				min-height: 190px;

				&:hover{
					background: #F7E9F6;
				}

				@include breakpoint($max:$md) {
					min-height: 0px;
				}; 

			}

			@include breakpoint($max:$md) {
				display: block;
				padding: 0;
				margin-bottom: 25px;
				width: 100%;
 			}; 


		}
	}

	.result-num{
		color: #0085a1;
		font-size: 25px;
		font-family: $font-leto;
		margin-top: -5px;
		float: right;
	}

	.bar{
		margin-right: 140px;
	}


	.progress{
		background: #dddddf;
		height: 21px;
		overflow: hidden;
		position: relative;
		border-radius: 20px;
		box-shadow: inset 0 2px 2px #bababc, inset 0 -2px 1px #d9dadd, 0 1px 0 #e5e9f0;

		.p{
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 20px;
			height: 100%;
			background: #d6252b;
			border: 1px solid #ca5669;
			box-shadow: inset 0 0 1px #dd4645;
		}
	}

 

	.result-title{
		color: #cb2027;
		font-family: $font-leto;
		@include rem(font-size, 4rem);
		@include rem(margin-bottom, 2rem);

		span{
			font-weight: 300;
			color: #3c5a60;
			@include rem(font-size, 3.5rem);
		}		
	}

	.result-test-image{
		margin-bottom: 45px;
	}

	.result-data{
		@include rem(font-size, 2.5rem);
		color: #000;

		p{
			margin: 0 0 2em;
			line-height: 1.5;
		}

		@include breakpoint($max:$md) {
				text-align: left;


				.share{
					a{
						display: block;
					}
				}
		};
	}

	.return-btn{
		@include transition(all .2s ease);
		display: inline-block;
		border: 2px solid #55acee;
		color: #55acee;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		padding: 17px 40px;
		border-radius: 30px;
		text-decoration: none;

		&:hover{
			background: #cb2027;
			color: #fff;
			border-color: #cb2027;
		}
	}
 